* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

}

.name {
    color: white;
    border-style: hidden;
}

main {
    background-color: #F1EFC8;
}
.profile {
    padding: 100px;
    width: 150px;
    border-radius: 50%;
}

.nav {
    display: inline-flex;
    justify-content: flex-start;
    margin: 10px;
    margin-top: 5px;
    background-color: #0F4415;
}

.nav-item {
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 300px;
    color: #0F4415;
}

a {
    color: white;
    font-size: 25px;
}




