* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.name {
    color: white;
    border-style: hidden;
}

main {
    background-color: #F1EFC8;
}
.profile {
    padding: 100px;
    width: 150px;
    border-radius: 50%;
}

.nav {
    display: inline-flex;
    justify-content: flex-start;
    margin: 10px;
    margin-top: 5px;
    background-color: #0F4415;
}

.nav-item {
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 200px;
    color: #0F4415;
}

a {
    color: white;
    font-size: 25px;
}

.github {
    padding: 75px;
    margin-left: 750px;
    width: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.project {
    padding: 20px;
    width: 500px;
}

h1 {
    color: #0F4415;
}

.card {
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    width: 450px;
    
}

.form-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.label {
    width: 20px;
}

input {
    width: 200px;
    height: 30px;
}
